<!DOCTYPE html>
<html>
<head>
	<title>Controller Application</title>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
</head>
<body>
<h2>Controller sample application</h2>

<div ng-app="mainApp" ng-controller="studentController">
Enter First Name <input type="text" placeholder="Enter First Name" ng-model="student.firstName"> <br><br>
Enter last Name <input type="text" placeholder="Enter last Name" ng-model="student.lastName">  <br><br>

Full Name is {{ student.fullName()}}

</div>
<script type="text/javascript">
	var mainApp=angular.module("mainApp",[]);

mainApp.controller("studentController", function($scope)
{
	$scope.student={
		firstName:"Vedant",lastName:"Bhamare",
		fullName:function()
		{
			var studentObject;
			studentObject=$scope.student;
			return studentObject.firstName + " " + studentObject.lastName;
		}
	};
}

	);

</script>
</body>
</html>